---
title: BI
---

{% block template %}

<table class="wrapper w-full h-full">
	<tr>
		<td align="center" class="align-middle">
			<table class="w-600 sm-w-full">
				<tr>
					<td class="text-center">
						<a href="#">View in Browser</a>
						<p>
							[This email has been sent from a source external to Epsilon. Please use caution when clicking links or opening attachments.]
						</p>
					</td>
				</tr>
				<tr>
					<td class="bg-bipurple text-center px-40 py-16">
						<img src="images/Logo.png" alt="">
						<hr>
						<p class="text-white">
							Now Available online: <strong>BI</strong>osimilar Perspectives, Issue 2
						</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

{% endblock %}